.dark{ background-color: #010101; color: #fff; }
.dark a:link, .dark a:visited, .dark a:active { color: #8eb6ff; }
.dark a:hover {  color: #ED421E; }
.dark .blinking-cursor { color: #11ff00; }

a:link, a:visited, a:active {
    color: #003844;
}

a:hover {
    color: #ED421E;
}


.wrapper {
  width: 1260px;
  margin: 0 auto;
}

header {
	width: 1260px;
    font-size: 24px;
    display: flex;
    align-items: baseline;
}


.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #ED421E;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ED421E;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ED421E;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ED421E;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ED421E;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  

nav, section {
  float: left;
}

nav {
  width: 250px;
  margin-right: 10px;
  margin-top:200px;
}

section {
  width: 1000px;
}

h1 {
    font-weight: 100;
    margin 0 0 0 0;
    font-family: Source Sans Pro;
}

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: Source Sans Pro, sans-serif;
  font-size: 15px;
  text-align: left;
  margin: 0;
}

header,
nav,
section {
  margin: 5px 0 0 0;
  border-radius: 3px;
}

header {
  padding: 40px 0 0 50px;
}

nav, section {
  padding: 0;
  height: 500px;
}

nav {
	margin: 15px 0 0 0;
}
